#header {
    text-align: center;
    background: rgb(170, 94, 23);
}
#quote {
    text-align: center;
    font-family: Helvetica;
    font-size: large;
}
#content {
    background: rgb(170, 103, 40);
}