body {
    background:rgb(218, 140, 67)
}
#title {
    font-family: impact;
    font-size: 80px;
}

#skills {
    font-family: georgia;
}

#title, #skills {
    text-align: right;
}

.header-container {
    border: 3px solid black;
    padding: 2rem 2rem;
    margin: 1rem;
}

.header-item {
    display: inline-flex;
    border: 4px solid black;
    vertical-align: middle;
    padding: 2rem;
}

#quote {
    text-align: center;
    font-family: georgia;
    font-size: large;
}

#bio {
    text-align: center;
}

#content {
    background: rgb(170, 103, 40);
    font-family: georgia;
}


.container {
    border: 3px solid black;
    padding: 2rem 2rem;
    margin: 1rem;
}

.item {
    display: inline-flex;
    border: 4px solid black;
    vertical-align: middle;
    padding: 20px;
}


#education {
    text-align: center;
}